/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#0080ff;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
  font-family: 'Teko', sans-serif;
  height: 550px; /* fallback for old browsers */
  color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

main {
  height: 87vh;
  margin-top: 50px;
  padding-top: 40px;
}

body {
  overflow-y: hidden;
}