
#wrap_video {
	margin-top: 50px;
}

iframe {
	border: none;
	height: 400px;
	width: 100%;
	padding: 0;
    margin: 0;
}

#video_box {
    position:relative;
}
#video_overlays {
    position:absolute;
	height: 400px;
	width: 100%;
    z-index:900;
    text-align:center;
    background-image: url(../source/noise.gif);
    background-repeat: repeat;
    opacity: 0.1;
}

#video_overlays2 {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 950;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-image: url(../source/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#video_overlays > img{
	height: 100%;
	width: 100%;
	padding: 0;
    margin: 0;
}
